## Python
alias py='python'
alias py2='python2'
alias py3='python3'

## FPGA
alias fpga-loader='sudo ~/Projects/epu/numato-loader/numato-loader'

## Tmuxinator
alias epu='tmuxinator start epu'

## Fun
alias aquarium='asciiquarium'
alias starwars='telnet towel.blinkenlights.nl'

## Directories
alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -Ahsl'
alias lA='ls -ahsl'
alias l='ls -Clh'
alias lP='l ~/Pictures'
alias lD='l ~/Downloads'
alias cd3='cd ~/.config/i3/'
alias cdC='cd ~/ctfs'
alias cD='cd ~/Downloads'
alias cdD='cd ~/dotfiles'
alias cdE='cd ~/Projects/epu'
alias cdM='cd ~/Music/'
alias cP='cd ~/Projects/'
alias cdP='cd ~/Pictures'
alias cS='cd ~/Schule'
alias cdS='cd ~/Scripts'
alias cdT='cd ~/.config/termite/'
alias cdV='cd ~/.vim'

## Reloading configs
alias rB='source ~/.bashrc'
alias rX='xrdb -merge ~/.Xresources'
alias rZ='source ~/.zshrc'

## Editing shortcuts
alias e='$EDITOR'
alias e3='$EDITOR ~/.config/i3/config'
alias e3b='$EDITOR ~/.config/i3/i3blocks.conf'
alias eA='$EDITOR ~/.aliases'
alias eB='$EDITOR ~/.bashrc && rB'
alias ec='crontab -e'
alias eC='sudo crontab -e'
alias eE='tmuxinator open epu'
alias eF='sudo $EDITOR /root/activate-firewall.sh && sudo bash /root/activate-firewall.sh'
alias eG='$EDITOR ~/.gitconfig'
alias eI='$EDITOR ~/.xinitrc'
alias eM='$EDITOR ~/.muttrc'
alias eO='$EDITOR ~/.offlineimaprc'
alias eP='sudo $EDITOR /etc/pacman.conf'
alias eS='$EDITOR ~/.sshrc'
alias eT='$EDITOR ~/.config/termite/config'
alias eV='$EDITOR ~/.vimrc'
alias eX='$EDITOR ~/.Xresources && rX'
alias eZ='$EDITOR ~/.zshrc'

## Program shortcuts
alias pty='socat -d -d pty,raw,echo=0 pty,raw,echo=0'
alias t='task'
alias g='git'
alias vi='vim'

## Shell shortcuts
alias k='exit'
alias C='clear'
